@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* colors */
    --orange:hsl(25, 97%, 53%);
    /* colors neutral */
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --bg-botones: #202731;
    /* font wight 400 and 700 */
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-dark-blue);
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    color: var(--white);
    position: relative;
}

.container {
    background-color: var(--dark-blue);
    border-radius: 1rem;
    max-width: 450px;
    margin: 2rem auto;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

.img-start {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 0.7rem;
    background-color: var(--bg-botones);
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5rem;
    margin: 10px 0px;
}

p {
    color: var(--light-grey);
    letter-spacing:  0.4;
}

li {list-style: none;}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rating-btn {
    border: none;
    color: var(--white);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    background-color: var(--bg-botones);
    cursor: pointer;
    transition: all 0.3 ease;
    margin-bottom: 30px;
    margin-top: 30px;
}

.rating-btn:hover {
    background-color: var(--white);
    color: var(--very-dark-blue);
}

.rating-btn:focus {
    background-color: var(--orange);
    color: var(--very-dark-blue);
}

.submit {
    width: 100%;
    padding: 0.60rem 0px;
    border-radius: 30px;
    border: none;
    background-color: var(--orange);
    color: var(--very-dark-blue);
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.submit:hover {
    background-color: var(--white);
    cursor: pointer;
}

.thank-u {
    display: none;
    text-align: center;
}

.thank-u .img-u {
    width: 45%;
    margin-bottom: 20px;
}

.thank-u .number {
    display: inline-block;
    background-color: var(--bg-botones);
    color: var(--orange);
    padding: 0.3rem 0.2rem;
    border-radius: 2rem;
    margin-bottom: 20px;
    font-size: 0.825rem;
    width: 80%;
    margin-block: 0 auto;
}

.thank-u h1 {
    margin-top: 2.1rem;
    margin-bottom: 12px;
}

.thank-u .sub-u {
    line-height: 1.5;
    padding: 0px 10px;
}

.span {
    color: var(--white);
}

.attribution {
    position: absolute;
    bottom: 10px;
}

.attribution a {
    text-decoration: none;
    color: var(--white);
}

.attribution a:hover {
    color: var(--orange);
}

@media (width <= 768px) {
    .container {
        margin: 0px 30px;
        padding: 1.5rem;
    }

    .attribution {
        text-align: center;
    }
}
